
.bannerImg {
  background-image: url("/src/assets/ecommerce/banner_white.jpg");
  background-size: cover;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bannerImg > h1 {
  font-size: 2em;
  border: 0.3rem solid black;
  padding: 0.3em;
  margin: 10%;
}

@media screen and (min-width:768px) {
  .bannerImg>h1{
    font-size: 5em;
    padding: 0.2em;
  }
}