.bannerImg {
  background-image: url("/src/assets/ecommerce/banner_white.jpg");
  background-size: cover;
  height: auto;
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bannerImg > h1 {
  font-size: 5em;
  border: 0.3rem solid black;
  padding: 0.2em;
  margin: 2%;
}
