.collectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height:100%;
}

.collectionContainer>.title_collection{
        font-size: 1em;
}

.collectionContainer>p{
        font-size: 0.8em;
        text-align: justify;
}
    

 @media screen and (min-width: 768px) {
    .collectionContainer>p{
        font-size: initial;
    }
}