.footer>ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  background-color: #e6ae7c;
  width: 100%;
}

.footer>p{
  height: 100%;
}
li{
  color: whitesmoke;
  font-size: 25px;
  
}