.footer>ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  background-color: grey;
  width: 100%;
}

.footer>p{
  height: 100%;
  background-color: lightslategrey;
}