.sidebar {
  width: 15%;
  height: 100%;
}

.sidebar > img {
  height: auto;
  width: 100%;
}

.collection {
  height: auto;
  border: 1px solid #ccacac;
}

.storeInfo {
  height: auto;
  border: 1px solid #ccacac;
}
