body {
  margin: 0;
  font-family: var(--text-font);
  background-color: var(#0053f1);
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 20;
}

#logo {
  text-decoration: none;
  align-items: center;
  color: white;
  font-weight: 50;
  font-size: 2.5rem;
}

#barNav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  border-bottom: 1px solid;
}

.nav-container {
  background-color: #0053f1;
  display: flex;
  flex-direction: column;
}

#navBarLeftUl {
  justify-content: space-around;
  min-width: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

#navBarRight {
  justify-content: flex-end;
  width: 400px;
  min-width: 400px;
  gap: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  list-style: none;
}

.navButton {
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 8px;
  border: none;
}

.firstContainer {
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
  background-color: #0053f1;
  color: white;
  padding-bottom: 5%;
}

.firstContainer h1 {
  font-size: 35px;
  font-style: normal;
  line-height: 50px;
  background-color: #0053f1;
  color: white;
  padding-top: 5%;
}

.buttonFirstContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 12rem;
  margin: 3px;
  padding: 40px 1px;
  box-shadow: none;
  border-radius: 8px;
  border: none;
  gap: 1x;
  background-color: white;
}

.secondContainer {
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.secondContainer h3 {
  font-size: 35px;
  padding: 20px;
  margin-bottom: 2%;
}

.buttonSecondContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  width: 20rem;
  margin: 3px;
  padding: 50px 1px;
  box-shadow: none;
  border-radius: 8px;
  border: none;
}

.thirdContainer {
  width: 100%;
  display: block;
  background-color: #30386b;
  flex-direction: row;
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
  color: white;
}

.fourthContainer {
  font-size: 20px;
  font-style: normal;
  color: black;
}

.fourthContainer2 {
  font-size: 20px;
  font-style: normal;
  color: black;
  padding-top: 1%;
}

.prix {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
/* border fourth container*/

.borderLeft {
  padding-left: 40px;
  margin-top: 30px;
}

.fifthContainer {
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
  color: white;
  border-top: 1px solid;
  padding-top: 5%;
}

.fifthContainer h3 {
  font-size: 25px;
  line-height: 32px;
  color: white;
}

.avisClients {
  display: flex;
  justify-content: left;
  padding-top: 5%;
  padding-bottom: 5%;
}

.sixthContainer {
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
  color: white;
  padding-bottom: 5%;
  padding-top: 5%;
  border-top: 1px solid;
}

.sixthContainer h3 {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.underSixth2 {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 5px;
}

.seventhContainer {
  font-size: 16px;
  font-style: normal;
  line-height: 32px;
  color: white;
  border-top: 1px solid;
  padding-top: 5%;
}

.seventhContainer h3 {
  margin-bottom: 40px;
}

.underSeventh {
  display: flex;
  justify-content: center;
}

.underSeventh2 {
  display: flex;
  padding-top: 5%;
}

.buttonHeader {
  font-size: 20px;
  height: 100px;
  box-shadow: none;
  border-radius: 8px;
  border: none;
  gap: 8px;
}

button {
  background-color: white;
}

#buttonsContainer {
  width: 100%;
}

@media screen and (min-width: 400px) {
  #barNav {
    justify-content: flex-start;
  }

  #navBarLeftUl {
    margin-right: auto;
  }
}
