* {
  padding: 0;
  margin: 0;
}

.startupPage {
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.4px;
  position: relative;
}

body {
  margin: 0;
  line-height: 1.5;
  font-size: 1rem;
}

h2 {
  font-size: 2.8rem;
  letter-spacing: 0.075rem;
  opacity: 0.9;
}

#logo {
  font-family: "Righteous";
  text-decoration: none;
  align-items: center;
  font-size: 1.5rem;
}

.navButton {
  background-color: white;
}
#headerInnerDiv {
  width: 85%;
  margin: 0 auto;
}

#navBar {
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  height: 65px;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid;
  font-weight: 400;
}

#navBarLeftUl {
  justify-content: space-between;
  min-width: 400px;
  width: 400px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

#navBarRight {
  justify-content: flex-end;
  width: 400px;
  min-width: 400px;
  gap: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
}

#navBar .navButton {
  font-size: 0.9rem;
}

.navButton {
  padding: 10px 20px;
  box-shadow: none;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-family: "Roboto";
}

.startupHeader {
  display: flex;
  margin-top: 5.5rem;
}

.startupHeader h2 {
  font-size: 3rem;
  font-weight: 450;
  font-style: normal;
  line-height: 4rem;
  margin: 0 0 20px 0;
}

header p {
  font-size: 1.1rem;
  line-height: 1.9rem;
  width: 100%;
  margin-bottom: 5.5rem;
}

#headerButtonContainer {
  display: flex;
  gap: 8px;
}

.headerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border-radius: 8px;
  border: none;
  width: 100%;
  font-size: 1rem;
  height: 105px;
  gap: 8px;
}

.startupHeader > div:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondContainer {
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.googleReview {
  font-family: Open sans;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1rem 0 5rem 0;
}
.googleReview span {
  font-size: 0.7rem;
  font-weight: light;
  font-family: Roboto;
}
.googleReview div {
  display: flex;
  align-items: center;
}

#newsBanners {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border-top: 1px solid;
  height: 90px;
  align-items: center;
}

#newsBanners div {
  width: 300px;
  height: 55px;
}

#newsBanners div:first-child {
  -webkit-mask: url("../../assets/startup/news/NewYorkTimes.svg") no-repeat
    center;
  mask: url("../../assets/startup/news/NewYorkTimes.svg") no-repeat center;
  width: 300px;
  margin-right: 63px;
}
#newsBanners div:nth-child(2) {
  -webkit-mask: url("../../assets/startup/news/Obs.svg") no-repeat center;
  mask: url("../../assets/startup/news/Obs.svg") no-repeat center;
  width: 150px;
  margin-right: 63px;
}

#newsBanners div:nth-child(3) {
  -webkit-mask: url("../../assets/startup/news/lemonde.svg") no-repeat center;
  mask: url("../../assets/startup/news/lemonde.svg") no-repeat center;
}

#cellphoneImageContainer {
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cellphoneImageContainer img {
  max-height: 450px;
}

/* SECOND CONTAINER */

#secondContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}
#secondContainerInnerDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  width: 85%;
}

#computerImgContainer {
  width: 60%;
  display: flex;
  align-items: center;
}
#computerImgContainer img {
  max-width: 100%;
}

#secondContainerTextContainer {
  width: 40%;
  padding-right: 2rem;
}

h2 {
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.mediumOpac {
  opacity: 0.5;
}

.opac75 {
  opacity: 0.75;
}

#secondContainerTextContainer > div {
  margin: 2rem 0;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  border-left: 3px solid;
}

.arrowButton {
  font-size: 1.05rem;
  border: 2px solid;
  display: flex;
  gap: 5px;
  padding: 12.5px 20px;
  align-items: center;
  font-weight: 500;
}

#secondContainer .arrowButton {
  margin-bottom: 2rem;
}

#thirdContainerInnerDiv {
  display: flex;
  padding: 2.5rem 0 6rem 0;
  width: 85%;
  gap: 10%;
  margin: 0 auto;
}

#thirdContainerInnerDiv > div:first-child {
  width: 100%;
}

#thirdContainerInnerDiv > div:first-child > p:nth-child(2) {
  margin: 3rem 0 2rem 0;
}

.mt {
  margin-top: 1rem;
}

#engagementsDiv {
  width: 100%;
}

.engagement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0 0.6rem 0;
  border-bottom: 1px solid;
}

.engagement > h3 {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0;
}

#engagementsDiv > p {
  margin-bottom: 0;
  font-size: 0.95rem;
}

/* /// FOURTH CONTAINER /// */

#fourthContainer {
  padding-bottom: 8rem;
}
#fourthContainerInnerDiv {
  display: flex;
  padding: 8rem 5.5rem 5.5rem 5rem;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

#piggyContainer {
  width: 50%;
  height: 350px;
  -webkit-mask: url("../../assets/startup/piggyBank.svg") no-repeat center;
  mask: url("../../assets/startup/news/piggyBank.svg") no-repeat center;
}
#moneyGoesW {
  width: 50%;
}

#moneyGoesW > h3 {
  font-size: 2.5rem;
  font-weight: 300;
}

#moneyGoesW > div {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  border-left: 3px solid;
  justify-content: center;
  margin-bottom: 2rem;
}

#moneyGoesW > p {
  margin: 1rem 0 3rem 0;
}

.moneyGoesDetail > p:first-child {
  margin-top: 0.8rem;
}
.moneyGoesDetail > p:last-child {
  margin-bottom: 0.8rem;
}

#obtainPriceButton {
  margin: 0 auto;
}

/* /// FIFTHCONTAINER /// */

#fifthContainer {
  display: flex;
}

#fifthCText {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem 5rem;
  box-sizing: border-box;
}

#fifthCText p {
  margin: 2.3rem 0;
  font-size: 0.95rem;
}

#fifthCText button {
  margin: 0 auto 2.5rem 0;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.05rem;
}

#fifthCText .googleReview {
  margin: 0;
}
#fifthCText .googleReview > p {
  margin: 0;
}

#fifthCCarou {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  max-width: 50%;
}

#carouWrapper {
  animation: scroll 30s linear infinite;
  display: flex;
  height: 100%;
  align-items: center;
  width: calc(340px * 12 + 40px);
}

.carouReview {
  border-radius: 8px;
  max-height: 50%;
  min-height: 50%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  min-width: 340px;
  justify-content: space-evenly;
  padding: 0 25px;
  background-color: white;
  color: black;
}

.avatarDiv {
  display: flex;
  gap: 10px;
  align-items: center;
}
.avatarDiv p {
  font-size: 0.8rem;
  color: "black";
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((380px * 5 + 250px) * -1));
  }
}

/* /// SIXTH CONTAINER /// */

#sixthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10rem 5.5rem 5.5rem 5rem;
}

#sixthContainer > p {
  margin: 1rem 0 4rem 0;
  width: 60%;
}

#conseillerDivContainer {
  display: flex;
  justify-content: space-between;
  width: 88%;
}

.conseillerDiv {
  width: 23%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
#sixthContainer > .conseillerDiv > p {
  margin: 0;
}
.conseillerName {
  margin-bottom: 0.2rem;
  margin-top: 0.8rem;
}

.conseillerImgContainer {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.conseillerImgContainer.one {
  background-image: url("../../assets/startup/Arthur.png");
  background-size: contain;
}
.conseillerImgContainer.two {
  background-image: url("../../assets/startup/Myriam.png");
  background-size: contain;
}
.conseillerImgContainer.three {
  background-image: url("../../assets/startup/hughes.png");
  background-size: contain;
}
.conseillerImgContainer.four {
  background-image: url("../../assets/startup/luisa.png");
  background-size: contain;
}

.small {
  font-size: 0.8rem;
}

#sixthContainer button {
  margin-top: 3rem;
}

/* //// FOOTER //// */

#footerContainerInnerDiv {
  width: 85%;
  margin: 0 auto;
  padding: 3rem 0;
}

#footerContainerInnerDiv #logoFooter {
  font-family: "Righteous";
  text-decoration: none;
  font-size: 3rem;
  line-height: 1;
}

#footerContainerInnerDiv {
  display: flex;
}

#footerContainerInnerDiv > div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 3rem;
}
#footerContainerInnerDiv p {
  margin-top: 0.4rem;
  font-size: 0.9rem;
  line-height: 1.6;
}

#footerContainerInnerDiv > :nth-child(1) {
  width: 27%;
  padding-right: 6rem;
  padding-top: 0;
}
#footerContainerInnerDiv > :nth-child(2) {
  width: 23%;
  padding-right: 3rem;
}
#footerContainerInnerDiv > :nth-child(3) {
  width: 23%;
  padding-right: 3rem;
}
#footerContainerInnerDiv > :nth-child(4) {
  width: 27%;
}

#footerContainerInnerDiv .topCategoryFooter {
  margin-bottom: 1rem;
  font-size: 1rem;
}
